Variables:
Mutiples variables can be assigned in same line

In [32]:
x,y,z="NIELIT",5,"CHENNAI"
print(z,y,x)

CHENNAI 5 NIELIT

In python Variables acts as a pointer.
When variable is assigned, say x, in python object of the variable is created with the defined type.
In the below code, "India" is appended in the list "x". It will reflect in the "y" list also since the variable y is pointing to the variable x. Any change in x will reflect in y also. It is applicable in collections like list.

In [52]:
x=["NIELIT","Chennai"]
y=x
x.append("India")
print("x= ",x)
print("y= ",y)

x=  ['NIELIT', 'Chennai', 'India']
y=  ['NIELIT', 'Chennai', 'India']

To check data type in python, type() is used. See the below code. Any thing mentioned between " " is treated as string

In [53]:
x=5
y="Nielit"
z=10.0
a=1j
print(type(x),type(y),type(z),type(a))

<class 'int'> <class 'str'> <class 'float'> <class 'complex'>

One data type can be converted in to another by below method

In [54]:
x=10.5
type(x)
y=int(x)
print("y =",y,type(y))

y = 10 <class 'int'>

String data type

In [55]:
x="I am in Chennai"
y=" @ Tamilnadu"
z=x+y
print(z)

I am in Chennai @ Tamilnadu

String Slicing:
In the range [0:n], it will take 0 to n-1. In negative the last character is (-1).

In [56]:
print(z)
print(z[0:5])
print(z[-9:-4])
print(z[0])
print(z[-1])
print(z[-9])

I am in Chennai @ Tamilnadu
I am
Tamil
I
u
T

String Manipulation

In [64]:
x=input("Enter the number ")
sum=0
for i in str(x):
    sum=sum+int(i)
print(sum)

21

In [68]:
x=int(input("Enter the number "))
y=int(input("Enter the number "))
z=int(input("Enter the number "))


if x<y and x<z:
    print("The minimum number is ",x)
if y<x and y<z:
    print("The minimum number is ",y)
else:
    print("The minimum number is ",z)

The minimum number is  6

In [71]:
min=int(input("enter a number: "))
for _ in range(1,3):
    x=int(input("Enter a number"))
    if x<min:
        min=x
print("minimum value is ",min)

minimum value is  1

In [100]:
x=int(input("Enter the number "))
y=int(input("Enter the number "))
z=int(input("Enter the number "))
a=[x,y,z]
print(a,type(a))
a.sort()
# b=a.copy()  
# print(b) 
print(a)
b=a[0]
print("The minimum number is ",b)

[9, 8, 5] <class 'list'>
[5, 8, 9]
The minimum number is  5

In [102]:
list=[]
for i in range(0,3):
    list.append(int(input("Enter a number: ")))
list.sort()
print("The minimum number is ",list[0])
print("The minimum number is ",list[-1])

The minimum number is  5
The minimum number is  9

Functions:

In [103]:
def greater(x,y):
    if x>y:
        print(x)
    else:
        print(y)

greater(5,10)

10

function with return type

In [104]:
def greaterReturn(x,y):
    if(x,y):
        return x
    else:
        return y

test=greaterReturn(5,10)
print(test)

5

Lambda function: the function with out name (anonymous function)

In [106]:
def x(m):
    m=m+1
    return m
#x(5)

x=lambda m : m+1
print(x(5))

6

Try Except Finally

In [109]:
x=int(input("Enter first number: "))
y=int(input("Enter second number: "))
try:
    print(x/y)
except:
    print("Error in the given value")
finally:
    print("Try function executed")
print("Thank you")

20.5
Try function executed
Thank you

class

In [110]:
class sathish:
    i=9

cpy=sathish()
print(cpy.i)

9

In [12]:
""" Fibonacci and golden ratio """
terms=int(input("Enter the number"))
a=0.0
b=1.0
aa=0.0
bb=1.0
for i in range(terms):    
    #print(a)
    x=a+b
    d=aa/bb
    term=d
    #print(a,term)
    a=b
    b=x
    aa=bb
    bb=x
print("The golden ratio number is ",term)

The golden ratio number is  0.6180339887498949

In [21]:
""" Finding prime number """
num=int(input("Enter the number of terms"))
for i in range(1,num):
    #print(i)
    if i%(i+1) != 0:
        print ("The number",i, "is not a prime number")
    else:
        print ("The number",i, "is a prime number")

The number 1 is not a prime number
The number 2 is not a prime number
The number 3 is not a prime number
The number 4 is not a prime number
The number 5 is not a prime number
The number 6 is not a prime number
The number 7 is not a prime number
The number 8 is not a prime number
The number 9 is not a prime number